body {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.NewPost-content,
.NewPost-label,
.NewPost-title,
.NewPost-submitButton {
  display: block;
}

.NewPost {
  border: 1px solid #000;
}

.navbar{
    background:#6799FF;
}
.navbar-inverse .navbar-nav > li > a, .navbar-inverse .navbar-nav > li > a {
    color: #fff;
    background-color: transparent;
}
.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
    color: #cdddff;
    background-color: transparent;
}